* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto light', Roboto, sans-serif;
  font-weight: 300;
  color: #333;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Roboto thin', Roboto, sans-serif;
  font-weight: 100;
}

h2 {
  font-family: inherit;
  font-weight: inherit;
}

.flow {
  margin: 0 auto;
  padding: 0 10rem;
  max-width: 80rem;
}

header {
  background: #fcfcfc;
}

header::after {
  margin-top: 5rem;
  display: block;
  content: ' ';
  height: 1px;
  border-bottom: solid 1px #333;
  transform: scaleY(0.5);
}
