* {
  box-sizing: border-box;
}

html {
  font-family: 'roboto light', roboto, sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 22px;
}

body {
  margin: 0;
}

h1 {
  font-family: 'roboto thin', roboto, sans-serif;
  font-weight: 100;
}

h2 {
  font-family: inherit;
  font-weight: inherit;
}

.flow {
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 20%;
  padding: 0 20vw;
  max-width: 40rem;
}

header {
  background: url('header.jpg') center center #c25133;
  background-size: cover;
  color: white;
}

header::after {
  margin-top: 5rem;
  display: block;
  content: ' ';
  height: 1px;
  border-bottom: solid 1px #333;
  transform: scaleY(0.5);
}

header a,
footer a {
  color: inherit;
}

strong,
a {
  font-family: 'roboto bold', roboto, sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #c25133;
}

a:hover {
  text-decoration: underline;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0 -0.5rem;
  text-transform: lowercase;
}

nav ul::after,
footer::after {
  content: ' ';
  display: table;
  clear: both;
}

nav li {
  display: block;
  float: left;
  padding: 0 0.5rem;
}

nav li:not(:last-child) {
  border-right: 1px solid currentColor;
}

.demo-display {
  padding-top: 9rem;
  padding-bottom: 4.5rem;
}

footer {
  margin-top: 7.5rem;
  padding: 0 1rem;
  background: #333;
  color: white;
}

.right {
  float: right;
}

.left {
  float: left;
}

@media screen and (max-width: 50rem) {
  .tidy-type h1 {
    font-size: 2rem;
    line-height: 2.625rem;
  }
  
  nav li {
    float: none;
    border-right: none;
  }
}
